<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-input type="email" placeholder="Enter email" formControlName="email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input type="password" placeholder="Enter password" formControlName="password"></ion-input>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col size="5">
    </ion-col>
    <ion-col size="7">
      <ion-button (click)="login()">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-content>