<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let q of quotes" (click)="goToDetails(q)">
    <ion-card-header>
      <ion-card-subtitle class="color-blue">{{date}}</ion-card-subtitle>
      <ion-card-title>{{q.author}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{q.quote}}
    </ion-card-content>
  </ion-card>
</ion-content>