<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/my-profile.png">
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic 4 best practices</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ionic 4 best pattern and practices.</p>
    </ion-card-content>
  </ion-card>
</ion-content>